*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: monospace;
    background-color: rgb(202, 223, 243);
}
h1{
    text-align: center;
    background-color: rgb(97, 164, 222);
    padding: 2vh 0;
    color: white;
}
.todo-input{
    display: flex;
    justify-content: center;
    gap: 2vh;
    padding: 4vh 0;
}
.todo-input input,.todo-input button {
    padding: 10px px;
    border-radius: 4px;
    color: white;
}
.todo-input button{
    background-color: rgb(231, 81, 27);
    border: 2px solid black;
}
.todo-container{
    display: flex;
    flex-direction: column;
    gap: 2vh;
    padding: 2vh 0;
    align-items: center;
}